.counter {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: #4c4c4c;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #f5f5f5;
  margin-bottom: 15px;
}